{% extends 'base.html.twig' %}

{% block main %}

<div
    class="container" mb-5 >

    <div class="card" mt-5>
        <div class="card-header">Nouveau clients</div>
        <div class="card-body" p-5>
       
           {{form(formClient)}}
            
        </div>

    </div>
    
</div>

{% endblock %}


